<?xml version="1.0"?>
<launch>
	<arg name="prefix" 		default=""/>
	<arg name="name" 		default="symphony"/>
    <arg name="symphony_type" 	default="symphony5"/>
	<arg name="rviz" 		default="true"/>
	<arg name="sim_gazebo"  default="false"/> <!--is sim gazebo?-->
	<arg name="joint_state" default="true"/> <!--need joint state? -->
	#TODO
	<arg name="gripper" default="none"/>
	<!-- <arg name="gripper" default="robotiq_2f"/> -->

	<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find symphony_description)/urdf/symphony.urdf.xacro'
		prefix:=$(arg prefix)
		name:=$(arg name)
		symphony_type:=$(arg symphony_type)
		sim_gazebo:=$(arg sim_gazebo)
		gripper:=$(arg gripper)"/>

	<!--joint state-->
	<group if="$(eval arg('rviz') == true and arg('sim_gazebo') == false and arg('joint_state') == true)">
		<node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
	</group>

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

	<!--rviz-->
	<node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz" args="-d $(find symphony_description)/rviz_config/symphony.rviz"/>

</launch>
