<?xml version="1.0"?>
<robot name="box">

<link name="base_link">
  <collision>
    <origin xyz="0.2 0.1 0.032" rpy="0 0 0"/>
    <geometry>
      <box size="0.05 0.05 0.06" />
    </geometry>
  </collision>

  <visual>
    <origin xyz="0.2 0.1 0.032" rpy="0 0 0"/>
    <geometry>
      <box size="0.05 0.05 0.06" />
    </geometry>
    <material name="pnp_color">
      <color rgba="0.8 0.05 0.05 1"/>
    </material>
  </visual>

  <inertial>
    <origin xyz="0.2 0.1 0.032" rpy="0 0 0" />
    <mass value="0.05" />
    <inertia
      ixx="2.5417e-5" ixy="0.0" ixz="0.0"
      iyy="2.5417e-5" iyz="0.0"
      izz="2.0833e-5" />
  </inertial>
  </link>

<gazebo reference="base_link">
    <mu1>2.0</mu1>
    <mu2>2.0</mu2>
</gazebo>

</robot>
