<?xml version="1.0"?>
<robot name="cylinder1">

<link name="base_link">
  <collision>
    <origin xyz="0.3 0 0.032" rpy="0 0 0"/>
    <geometry>
      <cylinder length="0.06" radius="0.025" />
    </geometry>
  </collision>

  <visual>
    <origin xyz="0.3 0 0.032" rpy="0 0 0"/>
    <geometry>
      <cylinder length="0.06" radius="0.025" />
    </geometry>
    <material name="pnp_color">
      <color rgba="0.1 0.25 0.85 1"/>
    </material>
  </visual>

  <inertial>
    <origin xyz="0.3 0 0.032" rpy="0 0 0" />
    <mass value="0.05" />
    <inertia
      ixx="2.2813e-5" ixy="0.0" ixz="0.0"
      iyy="2.2813e-5" iyz="0.0"
      izz="1.5625e-5" />
  </inertial>
  </link>

<gazebo reference="base_link">
    <mu1>2.0</mu1>
    <mu2>2.0</mu2>
</gazebo>

</robot>

